html{
    background: rgb(134, 134, 133);
}

.title{
    text-align: center;
    font-size: 15vh;
}


.grid{
    display: table;
    clear: both;
    margin: auto;
}

.album
{
    border: solid;
    border-radius: 10%;
    float: left;
    width: calc( 25% - 8px);
    height: 40vh;
    text-align: center;
    padding-top: 15vh;
    font-size: 8vh;
    font-weight: bold;
    background-image: linear-gradient(210deg, red, blue);
    overflow-x: hidden;
}