.title{
    text-align: center;
    font-size: 10vh;
    margin-top: 25vh;
}

.options{
    display: flex;
    justify-content: center;
    
}

.left_menu, .top_menu, .right_menu{
    list-style: none;
    padding: 0;
}

.top_menu{
    background: blue;
}

li{
    background: blue;
}

li > div{
    background: gray;
    border: solid;
    font-size: 2.5vh;
}

.left_menu > li > div,
.right_menu > li > div{
    padding-left: 2vh;
}

.left_menu{
    font-size: 3vh;
    height: 70vh;
    width: 20vw;
    position: absolute;
    left: 0;
    display: none;
    
}

.top_menu{
    position: absolute;
    display: flex;
    justify-content: space-around;
    font-size: 3vh;
    top: 0;
    left: 0;
    margin-top: 0;
    width: 100vw;
    display: none;
    
}

.right_menu{
    font-size: 3vh;
    height: 70vh;
    width: 20vw;
    position: absolute;
    right: 0;
    display: none;
    
}

.options input:checked + label .right_menu,
.options input:checked + label .left_menu{
    display: initial;
}

.options input:checked + label .top_menu{
    display: flex;
}

.options input:checked + label .menu li div
{
    display: none;
}


.options input:checked + label .menu li:hover div{
    display: block;
    
}
