.title{
    text-align: center;
    font-size: 10vh;
    margin-top: 25vh;
    
}

.options{
    display: flex;
    justify-content: center;
 }

 .suboption{
     padding-left: 1vw;
     background-color: gray;
     border: solid;
     border-radius: 10%;
     margin-left: 1vw;
     cursor: pointer;
 }

 .option{
     cursor: pointer;
 }

menu{
    list-style: none;

}

.menu{
    position: absolute;
    background-color: blue;
    font-size: 5vh;

}


/*right*/
.options input:checked + label + .menu{
    right: 0;
    padding-left: 1vw;
    width: 15vw;
}

/*top*/
.options input:checked + label + input + label + .menu{
    top: 0;
    display: flex;
    width: 100vw;
    justify-content: space-around;
}

/*left */
.options input:checked + label + input + label + input + label + .menu{
    left: 0;
    padding: 0;
    width: 15vw;
}

.submenu{
    display: none;
}

.option:hover .submenu{
    display: initial;
}