body{
    background-color: blue;
}

h1 {
    text-align: center;
    margin: 5%;
    font-size: 4em;
}

#carousel{
   /* border: solid;*/
    height: 340px;
    width: 510px;
    overflow-x: hidden;
    margin: auto;
    scroll-behavior: smooth;

    
}
ul{
    list-style: none;
    padding: 0;
    display: inline-flex;
    scroll-snap-type: x mandatory;
       
}

li{
    width: 500px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid;
    border-radius: 10px;
    position: relative;
    margin-right: 20px;
    font-size: 40px;
    font-weight: bold;
}



.bottons {
    margin: auto;
    text-align: center;
}

button{
    width: 60px;
    height: 40px;
    border-radius: 5px;
}

a{
    text-decoration: none;
    font-weight: bold;
    font-size: large;
    
}

#slide1{
    background-color: aquamarine;
}
#slide2{
    background-color: greenyellow;
}
#slide3{
    background-color: royalblue;
}