img {
	max-width: 100%;
	height: auto;
	vertical-align: middle;
	display: inline-block;
}

.grid-wrapper > div {
	//display: flex;
	justify-content: center;
	align-items: center;
}


.grid-wrapper {
	display: grid;
	grid-gap: 1vw;
	grid-template-columns: repeat(auto-fit, 30vw);
	grid-auto-rows: calc(30vw + 6px);
	grid-auto-flow: dense;
    //box-sizing: border-box;
}

.grid-wrapper .wide {
	grid-column: span 2;
}
.grid-wrapper .tall {
	grid-row: span 2;
}

.normal, .wide, .tall{
    border: solid;
}