.title{
    color: green;
    font-size: 300%;
    text-align: center;
}

body {
    counter-reset: section;
  }

.container{
    display: flex;
    margin-top: 5%;
    cursor: pointer;
}

.container::before {
    counter-increment: section;
    content: counter(section);
    font-size: larger;
    font-weight: bold;
    border-radius: 150%;
    border: outset;
    height: fit-content;
    z-index:100;
    margin-top: 2%;
    
  }


img{
    margin-right: 1%;
    margin-top: 2%;
}

.text{
    text-align: justify;
    
}

.imagetwo{
    float: left; 
    margin-top: 1%;
}

