form{
    --unit: 0.2vw;
    --button-height:calc(23*var(--unit));
    --hint-elevation: calc(10*var(--unit));
    
    margin: calc(50*var(--unit));
    width: calc(310*var(--unit));
    height: calc(100*var(--unit));
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

label{
    float: left;
    font-size: calc(15*var(--unit));
    color: #000;
    font-weight: 500;
    position: relative;
    top: calc(20*var(--unit));
    font-family: Arial, sans-serif;
}

.form-field{
    width: calc(200*var(--unit));
    height: calc(50*var(--unit));
    position: relative;
    bottom: calc(11*var(--unit));
    left: calc(110*var(--unit));
}


.form-field::before{
    visibility: visible;
    content: attr(data-hint);
    border: calc(1*var(--unit)) solid rgba(0,0,0,255);    
    font-size: calc(7*var(--unit));
    text-align: center;
    width: calc(82*var(--unit));
    color: rgba(247,247,247,255);
    background: rgba(0,0,0,255);
    border-width:  calc(5*var(--unit));
    box-shadow: calc(2*var(--unit)) calc(2*var(--unit)) calc(3*var(--unit)) calc(0*var(--unit)) rgba(0,0,0,0.75);   
    font-family: Arial, sans-serif;

    display: inline-block;
    position: relative;
    top: calc(-12*var(--unit));
    left: calc(-1*var(--unit));
    z-index: 1;
}

.form-field::after{
    visibility: visible;
    content: 'arr';
    font-size: calc(5*var(--unit));
    border: solid;
    border-width: calc(1*var(--unit));
    border-color: rgba(0,0,0,255) rgba(0,0,0,255) rgba(0,0,0,255) rgba(0,0,0,255);
    background: rgba(0,0,0,255);
    box-shadow: calc(0*var(--unit)) calc(0*var(--unit)) calc(3*var(--unit)) calc(2*var(--unit)) rgba(0,0,0,0.75);   
    color: rgba(0,0,0,0.75);
    display: inline-block;
    transform: rotate(45deg);
    width: calc(5*var(--unit));
    position: relative;
    bottom: calc(32*var(--unit));
    left: calc(20*var(--unit));
}


input{
    border: none;
    border-bottom: calc(1*var(--unit)) solid;

    display: block;
    position: relative;
    top: calc(-3*var(--unit));
    right: calc(0*var(--unit));
    font-size: calc(11*var(--unit));
    padding: calc(0*var(--unit));
}

input:-webkit-autofill::first-line {
    font-size: calc(11*var(--unit)) !important;
}

button{
    position: relative;
    left: calc(90*var(--unit));

    background-color: rgba(255,99,72,255);
    border: none;
    color: rgba(255,255,255,255);
    height: var(--button-height);
    width: calc(95*var(--unit));
    border-radius: calc(0.5*var(--button-height));
    font-weight: 905;
    font-size: calc(11*var(--unit));
    padding: calc(0*var(--unit));
}

button:hover{
    cursor: pointer;
}