body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 1.5vw;
    color:rgb(71,71,71);
}

h1{
    font-size: 5vw;
    color: gray;
    margin: 3vh;
}