.title{
    color: brown;
    font-size: 300%;
    text-align: center;
}

.note{
    display: flex;
    flex-direction: column;

}

.savingbutton{
    width: 20%;
}

.pastnotes{
    display: block;
    margin-top: 5%;
}

.pastnote{
    border: 3px solid #aaa;
    background-color: #eee;
    height: 200px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    float: left;
    margin-right: 10px;
    border-radius: 5px;
    font-size: 30px;
    margin-top: 3px;
}