.title{
    color: brown;
    font-size: 300%;
    text-align: center;
}

.note{
    display: flex;
    flex-direction: column;

}

.savingbutton{
    width: 20%;
}
.editingbutton{
    width: 20%;
    display: none;
}

.pastnotes{
    display: block;
    margin-top: 5%;
}

.pastnote{
    border: 3px solid #aaa;
    background-color: #eee;
    width: 200px;
    display: table-column;
    align-items: center;
    justify-content: center;
    float: left;
    margin-right: 10px;
    border-radius: 5px;
    font-size: 30px;
    margin-top: 3px;
    padding-bottom: 1%;
}

p{
    text-align: center;
}

.buttons{
    display: flex;
    justify-content: center;
}

.activity{
    color: brown;
}

.dates{
    font-size: 45%;
}

.hiddates{
    display: none;
}